[Desktop Entry]
Name=Xibo Player
Exec=xibo-player
Icon=${SNAP}/meta/gui/xibo-player.png
Terminal=false
Type=Application
Categories=Video;Utility;
Comment=Xibo for Linux Digital Signage Player